html
  head
    title='Containers FTW'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello Docker learners!
        p
        p 
          a.btn.btn-primary(href="https://www.amazon.com/Kubernetes-Book-Nigel-Poulton-dp-B092P9NVMT/dp/B092P9NVMT/ref=mt_other?_encoding=UTF8&me=&qid=1531240306") The Kubernetes Book

          a.btn.btn-outline-primary(href="https://www.amazon.com/Quick-Start-Kubernetes-Nigel-Poulton-ebook/dp/B08T21NW4Z/ref=sr_1_23?dchild=1&keywords=kubernetes&qid=1619530656&s=books&sr=1-23") Quick Start Kubernetes
        p